.content{
    position: relative;
    top: calc(var(--header-height) + 20px);
    padding-bottom: calc(var(--header-height) + 40px);
    text-align: center;
}

.content-event-list{
    list-style: none;
    align-items: center;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-event-item{
    background-color: rgba(155, 28, 28, 0.2);
    border-radius: 5px;
    
}

.content-event-link{
    color: var(--black-color);
    text-decoration: none;
}

.event-link-img{
    width: 94%;
    margin-top: 8px;
    border-radius: 5px;
}

.event-link-title{
    padding-left: 8px;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.event-link-info{
    padding-left: 8px;
    text-align: left;
    font-size: 1.4rem;
    min-height: 5.6rem;
    line-height: 1.4;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}