
.content{
    position: relative;
    top: calc(var(--header-height) - 10px);
    padding-bottom: calc(var(--header-height) + 40px);
    text-align: center;
    min-height: 70vh;
}

.content-user{
    margin-top: 80px;
}

.content-user-title{
    text-align: left;
    font-size: 2.4rem;
    border-bottom: 2px solid #ccc;
    line-height: 1.6;
}

.content-user-body{
    margin-top: 20px;
}

.user-info-list,
.user-option-list{
    list-style: none;
    padding-left: 0;
}

.user-option-item{
    padding: 16px 0 16px 16px;
    text-align: left;
    border: 1px solid #ccc;
}

.user-option-item:hover{
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.user-option-item span{
    font-size: 1.5rem;
    font-weight: 600;
}

.selected{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.user-info-list li{
    padding: 12px 0 12px 36px;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 600;
}

.user-info-list span{
    font-weight: 400;
    padding-left: 100px;
}

.user-info{
    display: none;
}

.user-info-history{
    display: none;
}


.form-control{
    width: 240px;
    float: right;
}

table, td, th{
    border: 1px solid #ccc;
}

.table-history{
    width: 100%;
    font-size: 1.6rem;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table td,
.table th{
    padding: 1rem;
}

.dataTables_info{
    font-size: 1.6rem;
    padding-top: 3rem;
    white-space: nowrap;
    text-align: left;
}

.pagination{
    display: flex;
    float: right;
}

.pagination-btn{
    margin: 0 2px;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    align-items: center;
}
.page-link,
.pagination-icon{
    text-decoration: none;
    display: block;
    padding-top: 16px;
    font-size: 1.6rem;
    color: var(--black-color);
    width: 100%;
}

.update-form{
    text-align: left;
}

.user-info-update{
    margin-top: 14px;
    display: none;
}

.form-item input{
    width: 60%;
    height: 28px;
    float: right;
}