
:root{
    --primary-color: rgb(223, 50, 50);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #505050;


    --header-height: 80px;

}









* {
    box-sizing: inherit;
}



html {
    /* HACK FONT (1rem = 10px) */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.app{
    background-color: #FDFCF0;
}


/* Grid */

.grid{
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid__row-home{
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: -10px;
    margin-right: -10px;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-right: -32px;
}

.grid__column-full{
    width: 100%;
}

.grid__column-half{
    width: 50%;
}

.grid__column-third{
    width: 33.33333%;
}

.grid__column-fourth-home{
    min-width: 25%;
    padding-left: 4px;
    padding-right: 4px;
}

.grid__column-fourth{
    min-width: 25%;
    padding-left: 32px;
    padding-right: 32px;
}




/* Modal CSS */



.modal{
    z-index: 200;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;
    display: none;
}

.open{
    display: flex !important;
}

.open__modal{
    display: flex !important;
}

.open__block{
    display: block !important;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.2);
}

.modal__body{
    z-index: 1;
    position: relative;
    min-width: 540px;
    min-height: 320px;
    margin: auto;
    background: var(--white-color);
    border-radius: 5px;
    animation: modalFadeIn ease 0.3s;
    display: none;
}

.auth-form--login,
.auth-form--register{
    display: none;

}

.modal-body__open{
    display: block;
}

.auth-form__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    padding: 8px 0 16px 0;
}

.auth-form__heading{
    color: var(--primary-color);
    margin: 0;
    padding: 16px;
    cursor: pointer;
}

.auth-form__switch--btn{
    color: var(--text-color);
    margin: 0;
    padding: 16px;
    cursor: pointer;
}

.auth-form__form{
    width: 90%;
    margin: 0 auto;
}

.auth-form__group{
    padding-bottom: 24px;

}

.auth-form__input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding-left: 12px;
}

.auth-form__controls{
    margin-top: 36px;
    text-align: center;
}

.auth-form__help{
    padding: 16px;
    text-align: center;
}

.auth-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
}

.auth-form__aside{
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
    padding: 8px 24px;
}

.auth-form__text-link{
    text-decoration: none;
    font-weight: 600;
    color: var(--black-color);
}

@keyframes modalFadeIn{
    from{
        transform: translateY(-150px);
    }
    to{
        transform: translateY(0);

    }
}

/* BUTTON CSS */

.btn{
    width: 80%;
    height: 36px;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 30px;
}

.btn-book-tickets{
    width: 90px;
    height: 30px;
    float: right;
    border-radius: 3px;
}


/* Sub Nav CSS */

@media (min-width: 1024px){
    .navbar-item:hover .subnav-list{
        display: block;
    }
}

.subnav-list{
    z-index: 1;
    width: 240px;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 1px 2px #505050;
    display: none;
    animation: topToBottom linear forwards 0.1s;
    transform-origin: top center;
}

@keyframes topToBottom{
    from{
        transform: scaleY(0);
    }

    to{
        transform: scaleY(1);
    }
}

.subnav-list::after{
    content: "";
    position: absolute;
    top: calc(0px - 4px);
    width: 240px;
    height: 4px;
}

.subnav-item{
    width: 240px;
    background-color: var(--white-color);
}

.subnav-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 36px;
    display: block;
    line-height: 52px;
}

.subnav-link:hover{
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.02);
}


/* CONTENT HEADER CSS */

.content__header{
    width: 100%;
    height: 30px;
    background-color: rgba(146, 145, 145, 0.2);
}

.content__header-nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.content__header-title{
    font-size: 1.4rem;
    color: var(--text-color);
}

.content__header-title:last-child{
    text-decoration: underline;
    font-weight: 600;
}

.angle-right-icon{
    font-size: 1.6rem;
    color:rgb(143, 143, 143);
    padding: 0 10px;
}

.home-icon{
    font-size: 1.8rem;
    color: var(--black-color);
}


/* FILM ITEM CSS */
.film-info{
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 8px 0 8px 16px;
}

.film-items{
    position: relative;
    margin-bottom: 80px;
    
}

.film-item{
    height: 274px;
    margin-bottom: 10px;
}

.film-item-img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.film-item-link{
    text-decoration: none;
    
}

.content-title{
    margin-top: 60px;
    margin-bottom: 40px;
    border-bottom: 2px solid #000;
}

.content-title-name{
    font-size: 4rem;
    font-weight: 400;
}

/* BOOK TICKETS MODAL CSS */

.modal-ticket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-content {
    min-height: 350px;
    width: 100%;
    padding: 25px;
    position: relative;
    /* display: none; */
    animation: hideOn ease 1s;
}

@keyframes hideOn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10rem;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

/* FORM CONTROL CSS */

.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-top: 12px;
    border-radius: 5px;
}

.noPremiere{
    font-size: 1.6rem;
    padding-top: 20px;
}

/* MODAL FORM */

.premiere-title{
    margin: 0 0 28px 0;
    border-bottom: 1px solid #ccc;
    color: var(--primary-color);
}

.form-item{
    margin-bottom: 24px;
}

.form-item label{
    font-size: 1.6rem;
    font-weight: bold;
}